body {
    background: #fafafa;
}

.Chart{
    position: relative;
    margin-bottom: 30px;
}

.Chart svg{
    pointer-events: none;
}

.axis path,
.axis line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.rule {
    pointer-events: none;
    position: absolute;
    border-left: 1px solid #000;
    text-align: left
}

circle.less{
    stroke: gray;
    stroke-width: 2px;
    fill: none;
}

circle.more{
    fill: #00a9ff;
    fill-opacity: 0.9;
}

.counter {
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px
}

.counter svg{
    float: left;
    margin-right: 20px;
}

.counter div{
    float: left;
}

.row .btn{
    float: none;
    margin: 0 auto;
}


